**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
Dockerfile
README.md
docker-compose.yml
**/.DS_Store
**/venv
**/env
**/__pycache__
*sqlite3
node_modules/
package-lock.json
package.json
media/documents
media/pictures