# System
.DS_Store
.vscode/*

# Django
db.sqlite3
media

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# NodeJS
node_modules/