{% extends 'base.html' %}
{% block content %}
  <h1>MesVehicules</h1>
  {% if user.username %}<p>User: {{ user.username }}</p>{% endif %}
  <ul>
    <li>
      <a href="{% url 'accounts:register' %}">Sign up</a>
    </li>
    <li>
      <a href="{% url 'accounts:login' %}">Sign in</a>
    </li>
    <li>
      <a href="{% url 'accounts:password_reset' %}">Forgot password</a>
    </li>
    {% if user.is_authenticated %}
      <li>
        <a href="{% url 'accounts:logout' %}">Logout</a>
      </li>
      <li>
        <a href="{% url 'accounts:profile' user.pk %}">Profile</a>
      </li>
      <br>
      <li>
        <a href="{% url 'vehicles:list' %}">Vehicle list</a>
      </li>
    {% endif %}
  </ul>
{% endblock content %}
