{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
  {% include '_preloader.html' %}
  <div class="container py-4">
    <div class="d-flex p-4">
      <div class="d-none d-lg-flex flex-column p-4">
        <img class="m-4 align-self-center"
             src="{% static 'img/illustration_vehicle.svg' %}"
             alt="illustration"
             style="max-width:345px">
        <p class="fs-4 fw-light">
          <i class="bi bi-quote"></i>
          {% trans "Self-hosted vehicle expense tracking solution for individuals." %}
          <i class="bi bi-quote"></i>
        </p>
      </div>
      <div class="container py-4" style="max-width:450px">
        <h1 class="text-condensed text-center fs-1 text-primary">MesVehicules</h1>
        <h2 class="text-center display-6 mb-4">{% trans "Connection" %}</h2>
        <form method="post">
          {% csrf_token %}
          <div class="text-start">{{ form.as_p }}</div>
          <div class="text-end">
            {% if signups_allowed %}
              <a href="{% url 'register' %}">{% trans "Create an account" %}</a>
            {% endif %}
            <button class="btn btn-primary ms-3" type="submit">{% trans "Login" %}</button>
            <div class="mt-3">
              <small><a class="text-muted" href="{% url 'accounts:password_reset' %}">{% trans "Forgot your password?" %}</a></small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
