{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <div class="container p-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>{% trans "Password reset sent" %}</h2>
        <p>
          {% blocktrans %}"We have emailed you instructions for setting
your password, if an account exists with the email address you entered.
you entered. You should receive them shortly.
If you do not receive an e-mail, please verify that you have entered the address
the address you registered with and check your junk mail folder.
your junk mail folder."
{% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
