{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  {% if form.errors %}
    <div class="alert alert-warning rounded-0">
      {% for field in form %}
        {% for error in field.errors %}<div>{{ error }}</div>{% endfor %}
      {% endfor %}
    </div>
  {% endif %}
  <div class="container p-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2>{% trans "New password" %}</h2>
        <form method="post">
          {% csrf_token %}
          <p>
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
          </p>
          <small>{{ form.new_password1.help_text }}</small>
          <p>
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
          </p>
          <div class="text-end mt-4">
            <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
