<canvas class="bg-white" id="pieCategory" width="400" height="400"></canvas>
<script>
  var chartCategory = document.getElementById('pieCategory').getContext('2d');
  // Chart.defaults.global.defaultFontColor = 'black'; // Global font color
  var mixedChart = new Chart(chartCategory, {
    type: "pie",
    data: {
      labels: {{ category_labels|safe }},
      datasets: [
      {
        data: {{ category_data|safe }},
        backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1,
      },
      ]
    },
    options: {
      plugins: {
        // remove legend title
        legend: {
          display: true,
        },
        title: {
          display: false,
          text: '2022',
          position: 'bottom'
          },
        tooltip: {
          callbacks: {
            label: function(context) {
              let label = `${context.label}: ${context.parsed.toFixed(2)}`
              return label;}
            }
        }
      }
    }
  });
</script>
