{% load i18n %}
<nav>
  {% if user.is_authenticated %}
    <a href="{% url 'vehicles:list' %}">MesVehicules</a>
    {% if vehicle %}
      &middot;
      <a href="{% url 'vehicles:home' vehicle.slug %}"><b>{{ vehicle.name }}</b></a>
      <a href="{% url 'supplies:list' vehicle.slug %}">{% trans "Supplies" %}</a>
      <a href="{% url 'expenses:list' vehicle.slug %}">{% trans "Expenses" %}</a>
      <a href="{% url 'vehicles:edit' vehicle.slug %}">{% trans "Informations" %}</a>
      <a href="{% url 'stats:stats' vehicle.slug %}">{% trans "Stats" %}</a>
    {% endif %}
    &middot;
    <a href="{% url 'accounts:profile' request.user.id %}">{% trans "Profile" %}</a>
    <a href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a>
  {% else %}
    &middot;
    <a href="{% url 'accounts:login' %}">{% trans "Sign In" %}</a>
    <a href="{% url 'accounts:register' %}">{% trans "Sign up" %}</a>
  {% endif %}
</nav>
<hr>
